<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trackflix</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/trackflix.css" rel="stylesheet">
  </head>
    <div id="pop1" class="popbox">
        <h2>Success!</h2>
            <p>This is an example popbox.</p>
        </div>
    <div id="pop2" class="popbox">
        <h2>Movie Title</h2>
            <p>Year</p>
            <p>Stars</p>
            <p>Genre</p>
    </div>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trackflix</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Search</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="spacer" style="height: 10px;">
    </div>
    <div class="spacer" style="height: 175px;">
      <img class="img contact-face" height="200" src="static/images/trackflix_logo_white.png">

    </div>

    <div class="container search-area">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group">
          <input type="text" class="form-control" id="searchForm" placeholder="ex: The Beatles">
            <span class="input-group-btn">
            <button class="btn btn-default" id="searchButton" type="submit">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-8 -->
    </div><!-- /.container -->

    <div class="spacer" style="height: 50px;">
    </div>

    <div class="container-fluid search-results">
      <!-- search results will go here -->
    </div>

    <a name="contact"></a>
    <div class="container-fluid contact-info">
      <div class="row contact-header">
        <h2 align="center">About Trackflix:</h2>
      </div>
      <div class="row faces">
        <div class="well col-md-6 col-md-offset-3">
          <span>
            Trackflix is a web application capable of recommending movies based on your music interests. Ever wonder what movies your favorite band has performed in? What about movies similar to those?
            With the input of a band or musical artist's name, Trackflix finds up to ten movies in the IMDB database featuring that artist's music, as well as the top six most similar movies to each result, calculated using tf*idf and cosine similarity scores of the plots of those movies.
          </span>
        </div>
      </div>
    </div>

    <a name="contact"></a>
    <div class="container-fluid contact-info">
      <div class="row contact-header">
        <h2 align="center">Who we are:</h2>
      </div>
      <div class="row faces">
        <div class="well col-md-2 col-md-offset-3">
          <div class="row">
            <img class="img-circle contact-face" height="200" src="static/images/angelaramsey.jpg">
          </div>
          <div class="row">
            <h4 align="center">Angela Ramesy</h4>
            <h4 align="center"><small>avramsey15@gmail.com</h4>
          </div>
        </div>
        <div class="well col-md-2">
          <div class="row">
            <img class="img-circle contact-face" height="200" src="static/images/erickchaves.jpg">
          </div>
          <div class="row">
            <h4 align="center">Erick Chaves</h4>
            <h4 align="center"><small>erick.chaves@tamu.edu</h4>
          </div>
        </div>
        <div class="well col-md-2">
          <div class="row">
            <img class="img-circle contact-face" height="200" src="static/images/matthewhorton.jpg">
          </div>
          <div class="row">
            <h4 align="center">Matthew Horton</h4>
            <h4 align="center"><small>mtt.horton@gmail.com</small></h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="static/js/mouseover.js"></script>
    <script src="static/js/trackflix.js"></script>

  </body>

</html>